.ayoba-header {
  color: #0061a1;
}

.container-fluid{
	position: relative;
}

.search-icon {
    max-width: 475px;
    border-radius: 5em;
}

.search-icon > span{
    border-radius: 50px;
}

.search-icon > input{
    border-radius: 50px;
}

.scrolling-wrapper{
	overflow-x: auto;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

body{
	background-color: black;
	color: #fff;
	font-family: 'system-ui';
}


.card-block{
	background-color: #fff;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
	border-radius: 24px;
	width: 100vw;
	&:hover{
		transform: translateY(-5px);
		box-shadow: none;
		opacity: 0.9;
	};

}

.card-body{
    border-width: 0px 1px 1px 1px;
    border-color: #d8dadb;
    border-style: solid;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
	position: relative;
	margin-top: -30px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	min-height: 30vh;
}

img.card-img-top{
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
	max-height: 40vh;
	min-height: 40vh;
    object-fit: cover;
}

.col-5{
	min-width: 20em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	scroll-snap-align: center;
}


::-webkit-scrollbar{
	width: 1px;
}
::-webkit-scrollbar-track{
	display: none;
}



.logo{
	position: absolute;
	top: -15px;
	width: 5em;
	height: 5em;

}

.logo > img {
	width: 5em;
	height: 5em;
	border-radius: 60%;

}

h5.card-title{
	margin-top: 3.5em;
	width: 100%;
}

.offcanvas{
	min-height: 100vh;
	overflow-y: auto;
	
}

.offcanvas-body{
	display: flex;
	flex-direction: column;
	align-items: center;
}
img.offcanvas-img{
	min-width: 25em;
	max-width: 30em;
	border-radius: 2%;
	margin-top: .5em;
}

.desc{
	max-width: 25em;
	margin: auto;
	text-align: center;
}

.abs-card{
	position: relative;
	max-width: 25em;
	margin: auto;
	width: 100%;
}

.learn{
	text-decoration: underline;
}
.closer{
	position: absolute;
	top: 0px;
	right: 5px;
	margin: 2em;
}

.icon{
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 1em;
	width: 5em;
	height: 5em;
	border-radius: 60%;
}

div.donateBTN {
	width: 100%;
	height: 3.25em;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.444), rgba(255, 255, 255, 0.944));
	z-index: 2;
}

.donate{
	background-color: #0061A2;
	border-radius: 15px;
	border: #0061A2 solid 1px;
	width: 188px;
	height: 46px;
	min-width: 250px;
	margin: auto;
	z-index: 2;
}

.donate_overlay{
	height: 60vh;
	border-radius: 8px;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-x: hidden;
}

.input-select{
	display: flex;
	min-width: 20em;
	margin-bottom: 2em;
	justify-content: center;
	align-items: center;
}

.input-textarea{
	display: flex;
	min-width: 25em;
	margin-bottom: 2em;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.input-currency-select{
	border: 2px solid #0061A2;
	border-radius: 8px;
}


.dropdown > a{
	display: flex;
	height: 2em;
	justify-content: center;
	align-items: center;
	margin-inline: .5em;
	margin-bottom: 7px;
}

.input-currency{
	position: relative;
	width: 100%;
	max-width: 60vw;
}

.input-textarea{
	position: relative;
	width: 100%;
	max-width: 25em;
}

.input-textarea > label[for="textarea"]{
	position: absolute;
	top: -13px;
	right: 40%;
	width: 10em;
	background-color: white;
	font-size: larger;
	color: #0061A2;
}

.placeholder{
	font-size: x-large;
	color: #0061A2;
}

.tag{
	width: 25%;
	min-width: 30em;
	margin-top: -30px;
	margin-bottom: 30px;
	color: #595959;
}

.input-currency > input:focus{
	outline: none !important;
}

.currency-label{
	position: absolute;
	top: -16px;
	right: 130%;
	width: 10em;
	background-color: white;
	width: 9em;
	right: 63%;
	top: -15px;
	color: #0061A2;
}

.input-currency > input{
	margin-block: 3px;
	border: none;
	height: 48px;
	width: 100%;
	font-size: x-large;
	color: #0061A2;
}

.input-textarea > textarea{
	height: 108px;
	border: 2px solid #0061A2;
	border-radius: 8px;
	width: 25%;
	min-width: 20em;
	padding: 12px;
	color: #0061A2;
}

.donate-head{
	color: #5C5C5C;
	min-width: 25em;
	margin-bottom: 2em;
}

.donate-head > div{
	margin-right: auto;
}


.donate-head > img{
margin-right: auto;
}